.calendar-container{
    width:80%;
    height: auto;
    margin:30px 20%;
    max-width: 600px;
    border: 1px solid black;
    float: left;
}

.month-container{
    width:100%;
    height: auto;
    text-align: center;
    margin:10px 0;
}

.month{
    border:none;
    padding:10px;
    font-size: 18px;

}

.days-container{
    width:100%;
    height:auto;
    margin:20px 0;
}

.days-container .days{
    width:13%;
    height: auto;
    display:inline-block;
    margin:0;
    text-align: center;
}

.dates-container{
    width:100%;
    height: auto;
    margin:20px 0;
}

.dates-row{
    width:100%;
    height: auto;
    margin:0;
}

.dates{
    width: 13.7%;
    height: 50px;
    margin: 0;
    text-align: center;
    float: left;
}
