
.lp-site{

    width:100%;
    height: auto;
    padding:50px 0;
    background-color: blue;
    float: left;

}

.lp-container{
    width:90%;
    height: 800px;
    margin:0 5%;
    float:left;
}

.main-form{
    width:100%;
    height:100%;
}

.lp-container .main-form .col-form{
    width:30%;
    height:100%;
    float: left;
    background-color: white;
    padding:20px;
    box-sizing: border-box;
}

.lp-container .main-form .col-image{
    width:70%;
    height: 100%;
    float: right;
    background-image: url("../../assets/images/air-baloon.jpg");
    background-size: cover;

}

.lp-container .main-form .col-image .main-text{
    position:relative;
    top:40%;
    font-size: 48px;
    text-align: center;
    color:white;
    font-family: 'Aboreto', cursive;
}

.lp-container .main-form .col-image .buttons-container{
    position:relative;  
    text-align: center;
    top:45%;
}

.lp-container .main-form .col-image .buttons-container input{
    width:150px;
    background-color: #11549c;
    padding:10px;
    margin:0 10px;
    color:white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.lp-container .main-form .col-form .row-title{
    text-align: center;
    font-size:28px;
    padding:30px 0;
    font-family: 'Poppins', sans-serif;

}

.lp-container .main-form .col-form .row-title .plane-container{
    background-color:blue;
    color:white;
    padding:5px 15px;
    border-radius: 50px;

}
.lp-container .main-form .col-form .row-title {
    color:blue;

}

.lp-container .main-form .col-form .row-menu{
    width:100%;
    height: auto;
    margin:10px 0 30px 0;
}

.lp-container .main-form .col-form .row-menu .flight-menu{
    width:100%;
    height: auto;
    list-style: none;
    padding: 0;
    text-align: center;

}

.lp-container .main-form .col-form .row-menu .flight-menu .menu-item{
   display: inline;
   padding:10px 10px;
   font-size: 16px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   color:gray;
}

.lp-container .main-form .col-form .row-menu .flight-menu .menu-item:first-child{
    border-bottom: 2px solid blue;
 }
 
 .lp-container .main-form .col-form .row-destination{
    width:100%;
    height: auto;
    margin:10px 0;
    float:left;
}

.lp-container .main-form .col-form .row-destination .label{
    width:100%;
    height: auto;
    margin:10px 0;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color:gray;
}

.lp-container .main-form .col-form .row-destination .input input{
    width:90%;
    height: auto;
    margin:15px 0;
    border:none;
    border-bottom:1px solid gray;
}  



.lp-container .main-form .col-form .row-destination .col2{
    width:50%;
    height: auto;
    margin:15px 0;
    float:left;
}  

.lp-container .main-form .col-form .row-destination .col2 .input input{
    width:80%;
    height: auto;
    margin: 15px 0;
} 

.lp-container .main-form .col-form .row-destination .col2 .input select{
    width:80%;
    height: auto;
    margin:15px 0;
    border:none;
    border-bottom:1px solid gray;
}


@media only screen and (max-width:1300px){
    .lp-container .main-form .col-form {
        width:100%;
        height: auto;
    }

    .lp-container .main-form .col-image{
        width:100%;
        height:600px;
    }

    .lp-container{
        width:80%;
        height: auto;
        margin:0 10%;
    }
}

@media only screen and (max-width:500px){
    .lp-container .main-form .col-form .row-destination .col2{
        width:100%;
        height: auto;
    }

    .lp-container .main-form .col-form .row-destination .col2 .input input{
        width:90%;
        height: auto;
    }

    .lp-container .main-form .col-form .row-destination .col2 .input select{
        width:90%;
        height: auto;
        margin:15px 0;
   }

    .lp-container .main-form .col-image{
        width:100%;
        height:700px;
    }

    .lp-container .main-form .col-image .main-text{
        top:30%;
        font-size: 28px;      
    }

    .lp-container .main-form .col-image .buttons-container{
        top:35%;
    }


    .lp-container .main-form .col-form .row-menu .flight-menu .menu-item{
        display: block;
        padding:10px 10px;
  
     }

     .lp-container .main-form .col-image .buttons-container input{
        display:block;
        margin:20px auto;

    }
    

}